---
export interface Props {
  title: string;
}

import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang={i18next.language}>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("site.title")}</title>
    <script is="inline" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <HeadHrefLangs />
</head>
<body class="dark">
    <slot />
</body>    
</html>

